@tailwind base;
@tailwind components;
@tailwind utilities;

.card-container {
  cursor: pointer;
}

/* .card-container:hover {
  box-shadow: 0px 0px 20px 0px red;
} */

.card-container:hover::after {
  content: "";
  position: absolute;
  width: 5rem;
  height: 3.4rem;
  background-image: url(https://razorpay.com/build/browser/static/wave-blue.3362585e.svg);
  bottom: 1.1rem;
  right: 0px;
  z-index: 1000;
}

.card-container-1:hover::after {
  content: "";
  position: absolute;
  width: 7rem;
  height: 4rem;
  background-image: url(https://razorpay.com/build/browser/static/wave-purple.4b580cd7.svg);
  bottom: 1rem;
  right: 0px;
  z-index: 1000;
}
